body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  max-width: 800px;
  margin: 0.5rem;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}

.disabled {
  background-color: black;
}

#timer {
  font-size: 3rem;
  font-weight: 800;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0.5rem auto;
}

.effect-change-color {
  animation-name: color-change;
  animation-timing-function: linear; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes color-change {
  0% {
    /* transform: scale(1); */
    background-color: green;
  }
  40% {
    background-color: orange;
  }
  100% {
    /* transform: scale(3.5); */
    background-color: red;
  }
}

.effect-explosion {
  animation-name: explosion;
  animation-duration: 2s; 
  animation-timing-function: ease-out;
}

@keyframes explosion {
  0% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 30px rgba(255, 1, 1, .2)
  }
 
  100% {
    /* transform: scale(3.5); */
    box-shadow: 0 0 0 1920px rgb(0, 0, 0, 0.9)
  }
}

#category {
  font-size: 2rem;
  font-weight: 800;
  background: darkblue;
  color: white;
  padding: .5rem;
  max-width: 800px;
}

.explosion-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  background: rgba(176, 255, 95, 1);
  border-radius: 50%;

}